<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <!--<add name="DefaultConnectionDev" connectionString="Data Source=DESKTOP-GNBMRRC;Initial Catalog=NetLabv2;Integrated Security=False; User ID=sa ;Password=123;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnectionDev" connectionString="Data Source=tcp:netlab.database.windows.net,1433;Initial Catalog=NetLabv2-Development;Integrated Security=False; User ID=JMUGA ;Password=jm2015.2;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnectionQA" connectionString="Data Source= 192.168.70.53\S2K8R201;Initial Catalog=Netlabv2; user=usernetlabv2; password= n3tlab2016*; Persist Security Info=false;MultipleActiveResultSets=True; Connect Timeout=9000" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnectionQA" connectionString="Data Source= SRV2K8_0\S2K8R201;Initial Catalog=Netlabv2; user=usernetlabv2; password= n3tlab2016*; Persist Security Info=false;MultipleActiveResultSets=True; Connect Timeout=9000" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnectionProd" connectionString="Data Source=64.121.12.20\S2K8R204;Initial Catalog=Netlab_Nuevo; user=userSisNetlab; password=$N3tlabv2$*; Persist Security Info=false;MultipleActiveResultSets=True; Connect Timeout=9000" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnectionProd" connectionString="Data Source=INSSQL2_3\S2K8R204;Initial Catalog=Netlab_Nuevo; user=userSisNetlab; password=$N3tlabv2$*; Persist Security Info=false;MultipleActiveResultSets=True; Connect Timeout=9000" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionNetLabPrueba1" connectionString="Data Source=INSSQL2_3\S2K8R204;Initial Catalog=Netlab2; user=netlab; password=Netlab3ns06; Persist Security Info=false;MultipleActiveResultSets=True; Connect Timeout=9000" providerName="System.Data.SqlClient" />
    <add name="ConnectionNetLabODK" connectionString="Data Source=192.168.70.53\S2K8R201;Initial Catalog=Bd_odkNetlabv21; user=userodk21; password=odk0Netlabv21; Persist Security Info=false;MultipleActiveResultSets=True; Connect Timeout=9000" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CommandTimeout" value="1000" />
    <add key="pageSize" value="8000" />
    <add key="pageSize1" value="15" />
    <add key="pageSizePaciente" value="5" />
    <add key="useReniecService" value="true" />

    <add key="useConnectionDev" value="false" />
    <add key="useConnectionQA" value="true" />
    <add key="useConnectionProd" value="false" />

    <add key="ServidorCorreo" value="mailserver.ins.gob.pe" />
    <add key="Correo" value="respuestanetlabv2@ins.gob.pe" />
    <add key="Cclave" value="1n$R3Spu3st4.2o2o$" />

    <add key="CargaViral" value="5A4A5684-6FF5-48BC-AD05-79C12B66490D" />
    <add key="Cd4" value="725E6631-6AAD-4A6F-B221-1C5E0E839303" />
    <add key="Covid19" value="1B2BEC28-772C-49DF-BCC2-85E0C5CCA667" />

    <add key="RutaPathEr" value="~/LogError/" />
    <!--<add key="URLGenerarToken" value="https://dapimanager.minsa.gob.pe:8243/token"/>-->
    <add key="URLGenerarToken" value="https://apimanager.minsa.gob.pe:8243/token" />
    <!--<add key="URLRegistrarPrueba" value="https://apimanager.minsa.gob.pe:8243/prueba-molecular/v0.0.1/mcs-registro-resultado-prueba-covid"/>-->
    <add key="URLRegistrarPrueba" value="https://apimanager.minsa.gob.pe:8243/prueba-molecular/v0.0.1/mcs-registro-resultado-prueba-covid" />
    <!--<add key="GenerateTokenAuthorizationHeader" value="eWQ1Z0VhTFJHOW5FWGpmbzJaSjFPOHNXemJzYTpta21OaWhrN1htVHR2ak52M19GaEpzNVJNZEVh"/>-->
    <add key="GenerateTokenAuthorizationHeader" value="ZlA2Y2FOdHZheE82NklrMmsxUU1ieGh1VVFJYTpQRUNZZEo3eWtQZWUwRktCbHlYYWZ6YzRBNlFh" />
    <add key="GlobalErrorMessage" value="Error en el sistema: Ocurrió un error al procesar la solicitud. Por favor, Regrese a la pantalla anterior." />
    <add key="MensajeObservacionReporteKobos" value="Esta prueba es parte de un flujograma de diagnóstico y debe ser interpretada de acuerdo al contexto clínico y epidemiológico de cada paciente" />
    <add key="RegistrarPruebaUriBase" value="https://dpidesalud.minsa.gob.pe" />
    <add key="RegistrarPruebaRequestUri" value="/mcs-resultado-prueba-covid/v1.0/mcs-registro-resultado-prueba-covid" />
    
    <add key="EnfVirusRespiratorio" value="1005680" />
    <add key="idExamenAgrupado" value="19" />
    <add key="idTipoMuestra" value="217" />
    <add key="SarsIdExamen" value="C5F591F3-C858-42CA-8CC8-32B42972F13B" />
    <add key="HisopadoIdTipoMuestra" value="217" />
    <add key="ConsultaOnlineVistaMaxRows" value="100" />

    <add key="rutaFichas" value="E:\APP\" />
    <add key="usuariosDev" value="72,190,1143" />
    <add key="usuariosProd" value="72,190,2480" />
    <add key="permitirTodos" value="true" />
    <add key="usarstaticcache" value="true" />
    
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <sessionState timeout="30" />
    <!--<sessionState mode="SQLServer" sqlConnectionString="Data Source=DESKTOP-GNBMRRC;User ID=sa ;Password=123;" cookieless="false" timeout="20" allowCustomSqlDatabase="true"  />-->
    <!--<sessionState mode="SQLServer" sqlConnectionString="Data Source= 192.168.70.53\S2K8R201; user=usersession; password= aspstate*;" cookieless="false" timeout="20" allowCustomSqlDatabase="true"  />-->
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="On" defaultRedirect="~/Error"></customErrors>
    <trace enabled="true" localOnly="false" mostRecent="true" pageOutput="false" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceDNISoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ServiceDNISoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://wsminsa.minsa.gob.pe/WSRENIEC_DNI/SerDNI.asmx" binding="customBinding" bindingConfiguration="ServiceDNISoap12" contract="ReniecService.ServiceDNISoap" name="ServiceDNISoap12" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <httpErrors existingResponse="PassThrough"></httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">     
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <add namespace="System.Data.Linq" />
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="WebPageTraceListener" type="System.Web.WebPageTraceListener, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>