@* Descripción: Vista, muestra el mensaje de error generico.
    Author: Terceros.
    Fecha Creacion: 01/01/2017
    Fecha Modificación: 02/02/2017.
    Modificación: Se agregaron comentarios.*@
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="alert alert-danger"><h1>
<i class="fa fa-ban"></i>
    Error en el sistema: 

Ocurrió un error al procesar la solicitud. Por favor, Regrese a la pantalla anterior.</h1> </div>

