@*  Descripción: Vista, mostrar y seleccionar un componente.
    Author: Terceros.
    Fecha Creacion: 01/01/2017
    Fecha Modificación: 02/02/2017.
    Modificación: Se agregaron comentarios, ventana no utilizada.*@
@model Model.ViewData.AnalitoVd

<table>
    <tr>
        <td>@Html.DisplayNameFor(model => model.analito.descripcion)</td>
        <td>@Html.DisplayFor(model => model.analito.descripcion)</td>
    </tr>
</table>


