@*  Descripción: Vista, muestra mensaje de registro exitoso.
    Author: Terceros.
    Fecha Creacion: 01/01/2017
    Fecha Modificación: 02/02/2017.
    Modificación: Se agregaron comentarios, ventana no utilizada.*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="ok">La Orden se registró correctamente</h2>


<style type="text/css" media="all">
    .ok {
        color: #40bc50;
    }
</style>