<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnectionDev" connectionString="Data Source=tcp:netlab.database.windows.net,1433;Initial Catalog=NetLabv2-Development;Integrated Security=False; User ID=JMUGA ;Password=jm2015.2;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    <add name="DefaultConnectionQA" connectionString="Data Source= SRV2K8_0\S2K8R201;Initial Catalog=Netlabv2; user=usernetlabv2; password= n3tlab2016*; Persist Security Info=false;MultipleActiveResultSets=True; Connect Timeout=9000" providerName="System.Data.SqlClient" />
    <add name="DefaultConnectionProd" connectionString="Data Source=64.121.12.20\S2K8R204;Initial Catalog=Netlab_Nuevo; user=userSisNetlab; password=$N3tlabv2$*; Persist Security Info=false;MultipleActiveResultSets=True; Connect Timeout=9000" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="useConnectionDev" value="false" />
    <add key="useConnectionQA" value="false" />
    <add key="useConnectionProd" value="true" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>