<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceDNISoap" />
                <binding name="serviciomqSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ServiceDNISoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://wsminsa.minsa.gob.pe/WSRENIEC_DNI/SerDNI.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceDNISoap" contract="ReniecService.ServiceDNISoap" name="ServiceDNISoap" />
            <endpoint address="http://wsminsa.minsa.gob.pe/WSRENIEC_DNI/SerDNI.asmx" binding="customBinding" bindingConfiguration="ServiceDNISoap12" contract="ReniecService.ServiceDNISoap" name="ServiceDNISoap12" />
            <endpoint address="http://wsvmin.minsa.gob.pe/wsreniecmq/serviciomq.asmx" binding="basicHttpBinding" bindingConfiguration="serviciomqSoap" contract="ReniecNewService.serviciomqSoap" name="serviciomqSoap" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>